<app-generic-side-nav [backgroundColor]="'black'" [closeBtnColor]="'white'" [navWidth]="280" [duration]="0.5">
    <nav class="mobile-nav">
        <ul class="mobile-nav__items">
            <li class="mobile-nav__item">
                <a href="#">Products</a>
            </li>
            <li class="mobile-nav__item">
                <a href="#">Orders</a>
            </li>
            <li class="mobile-nav__item">
                <a href="#">Customers</a>
            </li>
        </ul>
    </nav>
</app-generic-side-nav>