<section class="wrapper">
    <div *ngFor="let prod of products" class="product-item__wrapper">
        <div class="product-item">
            <img alt="" class="product-image" src="{{ prod.ProductImg }}">
            <div class="product-details__wrapper">
                <div class="product-details">
                    <h3 class="">{{ prod.ProductName }}</h3>
                    <p class="">Available Pieces: {{ prod.AvailablePieces }}</p>
                    <h6 class="product-price">$ {{ prod.ProductPrice }}</h6>
                    <a href="#" class="cart-btn">add to cart</a>
                </div>
            </div>
        </div>
    </div>
</section>